.nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 880px;
    width: 98px;
    background-color: white;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
    padding: 46px 24px;
    overflow: hidden;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        top: 0;
        height: 50px;
        width: 100%;
        z-index: 10;
        padding: 0 38px 0 49px;
        border-radius: 0;
    }

    @include mobile {
        height: 50px;
        padding: 0 15px 0 15px;

    }

        &__logo {
            width: 42px;
            height: 44px;
            background: url(../img/icon/VK.png) no-repeat center/contain;

            @include mobile {
                width: 25px;
                height: 25px;
            }
        }

        &__wrap {
            position: relative;
            height: 430px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            

            @include tablet {
                height: 50px;
                width: 60vw;
                justify-content: space-between;
                flex-direction: row;
            }

            @include mobile-small {
                display: none;
            }


            .nav__item--home {
                background: url(../img/icon/Home.png);            
            }
    
            .nav__item--news {
                background: url(../img/icon/News.png);              
            }
    
            .nav__item--friends {
                background: url(../img/icon/Friends.png);          
            }
    
            .nav__item--messages {
                background: url(../img/icon/messages.png);  
            }
    
            .nav__item--media {
                background: url(../img/icon/Media.png);
            }
    
            .nav__item--statistics {
                background: url(../img/icon/Statistics.png); 
            }
    
            .nav__item--settings {
                background: url(../img/icon/Settings.png);
            }

            .nav__item {
                width: 98px;
                height: 50px;
                background-position: center;
                background-repeat: no-repeat;
                border-bottom: none;
                
                @include mobile {
                    background-size: contain;
                    width: 15px;
                    height: 18px;
                }
            }

            .nav__item::before{
                content: '';
                position: absolute;
                left: -53px;
                width: 50px;
                height: 50px;
                background-color: #7F7FD5;
                border-radius: 25%;
                transition: all 0.1s ease-in;

                @include tablet {
                    display: none;
                }
            }

            .nav__item:hover {
                cursor: pointer;
                filter: invert(51%) sepia(76%) saturate(330%) hue-rotate(201deg) brightness(89%) contrast(89%);
                
            }
            .nav__item:hover::before {
                
                left: -45px;
                display: block;

                @include tablet {
                    display: none;
                }
            }

            .nav__item:active {
                position: relative;
                top: 2px
            }

            .active {
                cursor: pointer;
                filter: invert(51%) sepia(76%) saturate(330%) hue-rotate(201deg) brightness(89%) contrast(89%);

                @include tablet {
                    border: none;
                }
            }

            .active::before{
                display: block;
                content: '';
                position: absolute;
                left:-45px;
                width: 50px;
                height: 50px;
                background-color: #7F7FD5;
                border-radius: 25%;

                @include tablet {
                    display: none;
                }
            }    
        }

        .nav__theme {
            input[type='checkbox']{
                visibility: hidden;
                display: none;
            }

            .nav__check {
                display: block;
                position: relative;
                width: 60px;
                height: 30px;
                background: #ffffff;
                border: 1px solid $primary-color;
                cursor: pointer;
                border-radius: 50px;
                transition: ease-in .6s;

                @include mobile {
                    width: 20px;
                    height: 20px;
                    border: none;
                    border-radius: 50%;
                    background: #7F7FD5;
                }

                @include mobile-small {
                    left: 90px;
                    width: 30px;
                    height: 15px;
                    background: #ffffff;
                    border: 1px solid $primary-color;
                    cursor: pointer;
                    border-radius: 50px;
                    overflow: hidden;
                    transition: ease-in .6s;
                }
            }

            input[type='checkbox']:checked ~ .nav__check {
                background-color: #7F7FD5;

                @include mobile {
                    background-color: rgb(212, 212, 77);
                }

                @include mobile-small {
                    background-color: #7F7FD5;
                }
            }

            .nav__check:before {
                content: '';
                position: absolute;
                top: 4px;
                left: 5px;
                background-color: #7F7FD5;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                transition: .6s;

                @include mobile {
                    display: none;
                }

                @include mobile-small {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 1.5px;
                    left: 2px;
                    background-color: #7F7FD5;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    transition: .6s;
                }   
            }

            input[type='checkbox']:checked ~ .nav__check:before {
                transform: translateX(30px);
                background-color: #ffffff;

                @include mobile {
                    transform: none;
                }

                @include mobile-small{
                    transform: translateX(14px);
                    background-color: #ffffff;
                }
            }     
        }
     
        .nav__hamburger {
            display: none;
            width: 25px;
            height: 2px;
            background-color: $primary-color;

            @include mobile-small {
                display: inline;
            }
        }

        .nav__hamburger::before{
            content: '';
            position: absolute;
            top: 16px;
            width: 25px;
            height: 2px;
            background-color: $primary-color;
        }

        .nav__hamburger::after{
            content: '';
            position: absolute;
            top: 32px;
            width: 25px;
            height: 2px;
            background-color: $primary-color;
        }

}



