@mixin margin{
    margin: 0 auto;
}

@mixin titles {
    font-family: 'Gilroy Bold';
    font-size: 20px;
    line-height: 24px;
    color: $primary-color;
    }

@mixin text ($size, $color) {
    font-family: 'Gilroy';
    font-size: $size;
    line-height: 24px;
    color: $color;
}

@mixin mobile {
    @media (max-width: 500px) {
        @content;
    } 
}

@mixin tablet {
    @media (max-width: 1025px) {
        @content;
    } 
}

@mixin mobile-small {
    @media (max-width: 360px) {
        @content;
    } 
}

@mixin grid-area ($name) {
    grid-area: $name;
    background-color: white;
    border: 1px solid #EBEBEB;
    border-radius: 13px; 
}

@mixin card-container ($width) {
    width: $width;
    padding: 24px;
    @include tablet {
        width: 100%;
    }
}
