@import 'config/reset', 'config/mixin', 'config/variables';
@import 'components/audience', 'components/header', 'components/nav', 'components/visitors', 'components/device', 'components/gender-age', 'components/geo', 'components/wrap', 'components/block';



@font-face {
    font-family: 'Gilroy Bold';
    src: url(../fonts/Gilroy-Bold.ttf);
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Regular.ttf);
}

*{
    box-sizing: border-box;
}

